body {
 font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 50px;
}

.container {
  background: white;
  padding: 30px;
  margin: auto;
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 25px;
  background-color: #25D366;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}
